<!DOCTYPE html>
<html>
<head>
	  <title>Spring Boot - AJAX POST GET Example</title>
	  <meta charset="utf-8" />
	  <meta name="viewport" content="width=device-width, initial-scale=1" />
	   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
     
	  <script src="/JS/request.js"></script>


	  
</head>
<body>
 
<div class="container">
 
	<h3 style="color:blue">Welcome to Moji File sharing Site! Enjoy the capability of cloud </h3>
	 <div>
	
	 <form id="fileUploadForm">
         <a href="#" class="btn btn-info btn-lg">
        <input type="file" name="file" id="theFile"/></a>
        <input name="submit" type="submit" id="btnSubmit" />
        <script type="text/javascript">
        $('#theFile').bind('change', function() {
            alert('This file size is (Limit is 10MB): ' + this.files[0].size/1024/1024  + "MB");
        });
    </script>
     
        </form>
       
         <h2>List of Files </h2>
         <span id="result"></span>
          <div id="divFilelist"></div>
          <button type="submit" value="Submit" id="del" >Delete</button>
          <input type = "text" id="deleteFileName"></input>      
   </div>
   
   <button id="getfiles">ListFiles</button>
</div>
</body>
</html>